<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Maquina de cafe - bebidas</title>
</head>
<body>
  <div class="container">
    <div class="button" onclick="location.href='/coffee'">Café</div>
    <div class="button" onclick="location.href='/tea'">Té</div>
    <div class="button"></div>
    <div class="button"></div>
    <div class="button"></div>
    <div class="button"></div>
  </div>
</body>
</html>