<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.drinks.css">
    <title>Maquina de cafe - Bebidas</title>
</head>

<body>
     <form action="/orders/order" method="POST">
        <h3>Elige tu bebida:</h3>
        <div class="options">
            <input type="radio" id="cafe" name="drink" value="Café" required>
            <label for="cafe">Café</label>

            <input type="radio" id="te" name="drink" value="Té">
            <label for="te">Té</label>
        </div>

        <h3>Elige la cantidad de azúcar:</h3>
        <div class="options">
            <input type="radio" id="sugar0" name="sugar" value="0" required>
            <label for="sugar0">0</label>

            <input type="radio" id="sugar1" name="sugar" value="1">
            <label for="sugar1">1</label>

            <input type="radio" id="sugar2" name="sugar" value="2">
            <label for="sugar2">2</label>

            <input type="radio" id="sugar3" name="sugar" value="3">
            <label for="sugar3">3</label>

            <input type="radio" id="sugar4" name="sugar" value="4">
            <label for="sugar4">4</label>

            <input type="radio" id="sugar5" name="sugar" value="5">
            <label for="sugar5">5</label>
        </div>

        <br>
        <button type="submit">Enviar</button>
        <br><br>
        <a href="/orders/search-order">Buscar orden</a>
    </form>
</body>

</html>