<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.drinks.css">
    <title>Maquina de cafe - Login</title>
</head>

<body>
    <form action="/login" method="POST">
        <h3>Código de acceso</h3><input type="text" name="acces_code" />
        <br><br>
        <button type="submit">Entrar</button>
    </form>
</body>

</html>