<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.drinks.css">
    <title>Maquina de cafe - Login</title>
</head>

<body>
    <form action="/login" method="POST">
        {{#if error}}
        <h2>El usuario ingresado no existe</h2>
        {{/if}}
        <h3>Email</h3><input type="text" name="email" />
        <br><br>
        <button type="submit">Enviar código de acceso</button>
    </form>
</body>

</html>