<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.drinks.css">
    <title>Maquina de cafe - Login</title>
</head>

<body>
    <form action="/login" method="POST">
        {{!-- <div class="login"> --}}
            <h3>Email</h3><input type="text" name="email" />
            <h3>Password</h3><input type="password" name="password" />
        {{!-- </div> --}}
        <br><br>
        <button type="submit">Login</button>
    </form>
</body>

</html>