<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.order.css">
    <title>Maquina de cafe - Orden Encontrada</title>
</head>

<body>
<div class="order-container">
    <h2>Orden encontrada</h2>

    <div class="order-info">
        <p><strong>Bebida:</strong></p><p class="data">{{drink}}</p>
        <p><strong>Azúcar:</strong></p><p class="data">{{sugar}}</p>
        <p><strong>Fecha:</strong></p><p class="data">{{date}}</p>
        <p><strong>Id:</strong></p><p class="data">{{id}}</p>
    </div>
</div>
</body>

</html>