<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.drinks.css">
    <title>Maquina de cafe - Perfil</title>
</head>

<body>
    <form action="/logout" method="POST">
        <h2>Perfil del usuario con el id: {{userId}}</h2>
        <button type="submit" id="logout">Cerrar sesión</button>
    </form>
</body>

</html>