<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.register.css">
    <title>Maquina de cafe - Registro</title>
</head>

<body>
    <form action="/register" method="POST">
        <h3>Email</h3><input type="text" name="email" />
        <h3>Contraseña</h3><input type="password" name="password" />

        <br><br>
        <button type="submit">Registrarse</button>
    </form>
</body>

</html>