<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.order.css">
    <title>Maquina de cafe - Registro</title>
</head>

<body>
    <div class="order-container">
        <h2>Usuario regisrado</h2>

        <div class="order-info">
            <p><strong>Nombre:</strong></p>
            <p class="data">{{name}}</p>
            <p><strong>Apodo:</strong></p>
            <p class="data">{{nickname}}</p>
            <p><strong>Email:</strong></p>
            <p class="data">{{email}}</p>
            <p><strong>Id usuario:</strong></p>
            <p class="data">{{id}}</p>
        </div>
    </div>
</body>

</html>