body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.order-container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
    text-align: center;
}

h2 {
    color: #FFD700;
    text-align: center;
}

.order-info p {
    font-size: 18px;
    margin: 10px 0;
}

.data {
    background-color: #444;
    padding: 10px 20px;
    border-radius: 5px;
}

a {
    background-color: #1eec17;
    color: black;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}